node_modules

# Log files
*.log

# Generated TypeScript files and build data
tsconfig.tsbuildinfo

# Dist files
dist
dist_ext

.gp.md
web-ext-artifacts

/subprojects/blueprint-compiler
publish/
scale-by-display.zip
